body {
  background-image: url(https://www.xtrafondos.com/wallpapers/resized/tunel-pentagono-con-luces-de-neon-3480.jpg?s=large);
  background-repeat: no-repeat;
  background-size:cover;
}


h1 {
  padding-left: 260px;
  color: rgb(255, 252, 255);
  font-family: Acme, sans-serif;
  font-size: 40px;
}

h2 {
  padding-left: 300px;
  color: rgb(255, 250, 250);
  font-family: Acme, sans-serif;
  font-size: 30px;
  ;
}


p {
font-family: Acme, sans-serif;
padding-left: 510px;
font-size: 25px;
color:rgb(255, 252, 252);
}

form {
  font-family: Acme, sans-serif;
padding-inline: 14cm;

}

textarea {
  margin: 1px;
  padding: 3px;
  font-family: Acme, sans-serif;

}

label {
  color: #a945c7;
}


.contenedor {
  width: 240px;
  background:rgba(53, 3, 45, 0.596);
  margin: auto; 
  margin-top: 100px;
  border-radius: 6px;
  font-family: Acme, sans-serif;
  color: white;
  padding-left: 50px;

}

.btn-dark {
font-family: Acme, sans-serif;
position: relative;
display: inline-block;
padding: 5px 10px;
color: black;
letter-spacing: 4px;
font-size: 15px;
text-decoration: none;
overflow: hidden;
transition: 0s;
}

.btn-dark:hover {
  background: #a945c7;
  box-shadow: 0 0 10px #a945c7, 0 0 20px #a945c7, 0 0 30px #a945c7; 
  
}