
*{

  font-family: 'Inter';
  font-style: italic;
  font-weight: 900;
  font-size: 15px;
 

}
body {
  background-image:url(https://www.xtrafondos.com/descargar.php?id=3472&resolucion=2560x1440);
  background-size: cover;
  background-repeat: no-repeat;
}

.subtitle{
display: flex;
align-items: center;
justify-content: center;
color:#fff;
margin: 60px;
font-size: 30px;
}

form {
background-color:  rgba(54, 1, 93, 0.73);
border-radius: 10px;
margin: auto auto;
width: 400px;
padding: 3px;
}
.field-offset{
  position: relative;
  left: 110px;
  border: none;
  width: 190px;
}
.text-offset{
  position: relative;
  left: 105px;
  top: 10px;
  color: #fff;
}
.field {
  position: relative;
  left: 80px;
  background-color: rgba(253, 0, 106, 0.35);
  border: none;
  width: 250px;
}
.text{
  position: relative;
  left: 80px;
  top: 10px;
  color: #fff;
}
.btn {
  position: relative;
  left: 90px;
  width: 100px;
  height: 40px;
  margin: 10px 0px 0px 10px;
  background: rgba(76, 13, 119, 0.85);
  border-radius: 4px;
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  overflow: hidden;
  transition: 0s;
  border: hidden;
  }
  
  .btn:hover {
    background:  #FD006A;
    box-shadow: 0 0 10px  #FD006A, 0 0 20px  #FD006A, 0 0 30px #FD006A; 
    border: #FD006A ;
    
  }